<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="static/favicon.png"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

    <title>LSMK Register</title>
    <style>
        div, small {
            margin: 1em;
        }

        #mapid { 
            height: 400px; 
        }
    </style>
  </head>
  <body>
    <div>
        <button onclick="getData();">Monitor!!!</button>
    </div>

    <div id="mapid"></div>

    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <script>
        var mymap = L.map('mapid').setView([12, 78], 13);

        L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
            maxZoom: 7,
            subdomains:['mt0','mt1','mt2','mt3']
        }).addTo(mymap);

        function getData(){
            console.log(2);
            $.get('/getmonitordata', null, function(data) {
                geojsonObj = JSON.parse(data[0].values[0][0]);
                geoJSON = geojsonObj.geoJSONArry
                let first_geoJSON = geoJSON[0]
                console.log(first_geoJSON);

                L.geoJSON(first_geoJSON).addTo(mymap);
            });
        }
    </script>
  </body>
</html>