<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="static/favicon.png"/>

    <title>LSMK Register</title>
    <style>
        div, small {
            margin: 1em;
        }
    </style>
  </head>
  <body>
    <h1 class="bg-info text-white" style="padding:0.3em">LSMK - Weather Register</h1>
    <small class="text-danger">In Case of Bad Weather, Register the Following Information Every Hour</small><br/>
    <small class="text-danger">Fields marked * are mandatory</small><br/>
    <small id="form-data-status" class="text-warning">
        <span>Please Wait For A Minute... And Try Refreshing... Form is Loading Data after a while... An instance is shooting up in the Server for handling your request in less than 60 Seconds...</span>
    </small>
    <hr/>
    <form id="the-form">
        <div class="form-group">
            <label class="text-primary">1. Select Your Drone Number *</label>
            <select class="form-control bg-danger text-white" id="dronenumber">
                <option disabled selected>Select Your Drone Number</option>
            </select>
        </div>
        
        <div class="form-group">
            <label class="text-primary">2. Date of Register *</label>
            <input class="form-control bg-danger text-white" type="date" id="registerdate">
        </div>

        <div class="form-group">
            <label class="text-primary">3. Time of Register *</label>
            <input class="form-control bg-danger text-white" type="time" id="registertime">
        </div>

        <div class="form-group">
            <label class="text-primary">4. Select Pilot *</label>
            <select class="form-control bg-danger text-white" id="pilot">
                <option value="" disabled selected>Select Pilot</option>
            </select>
        </div>

        <div class="form-group">
            <label class="text-primary">5. Select Co-Pilot *</label>
            <select class="form-control bg-danger text-white" id="copilot">
                <option value="" disabled selected>Select Co-Pilot</option>
            </select>
        </div>

        <div class="form-group">
            <label class="text-primary">6. Select District *</label>
            <select class="form-control bg-danger text-white" id="district">
                <option value="" disabled selected>Select District</option>
            </select>
        </div>

        <div class="form-group">
            <label class="text-primary">7. Select Taluk *</label>
            <select class="form-control bg-danger text-white" id="taluk">
                <option value="" disabled selected>Select Taluk</option>
            </select>
        </div>

        <div class="form-group">
            <label class="text-primary">8. Enter Gram Panchayat Name *</label>
            <input class="form-control bg-danger text-white" type="text" id="grampanchayat">
        </div>

        <div class="form-group">
            <label class="text-primary">9. Enter Revenue Villages Name *</label>
            <input class="form-control bg-danger text-white" type="text" id="revenuevillages">
            <small class="text-warning">If this flight covers more than one revenue village, Enter their names separated by comma.</small><br/>
        </div>

        <div class="form-group">
            <label class="text-primary">10. Temperature (°C)</label>
            <input class="form-control bg-danger text-white" type="number" id="temperature" step="0.01">
        </div>

        <div class="form-group">
            <label class="text-primary">11. Wind Speed In Anemometer (m/s) *</label>
            <input class="form-control bg-danger text-white" type="number" id="anemowind" step="0.01">
        </div>

        <div class="form-group">
            <label class="text-primary">12. Wind Speed In QBase (m/s) *</label>
            <input class="form-control bg-danger text-white" type="number" id="qbasewind" step="0.01">
        </div>

        <div class="form-group">
            <label class="text-primary">Remarks, If Any</label>
            <textarea class="form-control text-white" id="flightremarks"></textarea>
        </div>

        <div class="form-group">
            <label class="text-danger" id="outlog">Click on Submit To Send Data To Server</label>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-warning" onclick="printpage()">Print PDF</button>
            <button type="button" class="btn btn-primary" onclick="submitdata()">Submit Data</button>
        </div>
    </form>
    
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/shp.js"></script>

    <script>
        let taluksData = [];
        $(document).ready(function(){
            setOptionalIdsToGreen();

            $.get('/sitedata', null, function(ranges) {
                console.log(ranges)

                let dronenumbers = ranges[0].values
                $.each(dronenumbers, function (i, item) {
                    $('#dronenumber').append($('<option>', {
                        text : item[0]
                    }));
                });

                let pilots = ranges[1].values
                $.each(pilots, function (i, item) {
                    $('#pilot').append($('<option>', {
                        text : item[0]
                    }));

                    $('#copilot').append($('<option>', {
                        text : item[0]
                    }));

                    $('#missionplanner').append($('<option>', {
                        text : item[0]
                    }));

                    $('#missionchecker').append($('<option>', {
                        text : item[0]
                    }));
                });

                taluksData = ranges[2].values

                let districts = taluksData.map(function(value, index) { return value[0]; });
                let uniquedistricts = districts.filter((item, i, ar) => ar.indexOf(item) === i);

                $.each(uniquedistricts, function (i, district) {
                    $('#district').append($('<option>', {
                        text : district
                    }));
                });
            })
            .always(function(e) {
                if(e[e.length - 1] == 'success'){
                    $('#form-data-status')
                    .text('Form is Loaded... You can start Filling...')
                    .addClass("text-success").removeClass("text-warning");
                }
            });
        });

        $('#district').change(function(e){
            let selectedDistrict = $("#district option:selected").text();
            $('#taluk').find('option').remove().end().append('<option value="" disabled selected>Select Taluk</option>');

            let taluks = taluksData.map(function(value, index) { 
                if(value[0] == selectedDistrict){
                    return value[1];
                }
            });
            
            taluks = taluks.filter(item => item)
            //console.log(taluks);
            
            let uniquetaluk = taluks.filter((item, i, ar) => ar.indexOf(item) === i);

                $.each(uniquetaluk, function (i, taluk) {
                    $('#taluk').append($('<option>', {
                        text : taluk
                    }));
                });
        });
    </script>
    <script>
        let IDs = ['dronenumber', 'registerdate', 'registertime', 'pilot', 'copilot', 'district', 'taluk', 'grampanchayat', 'revenuevillages', 'temperature', 'anemowind', 'qbasewind', 'flightremarks'];
        let optionalIDs = ['temperature', 'flightremarks'];
        function submitdata(){
            let values = getIDValues(IDs);
            console.log(values);
            
            let valuesOK = values.every(function (elem, index) {
                if(optionalIDs.includes(elem[0])){
                    return true
                } else {
                    return elem[1] != "";
                }
            });

            if(valuesOK){
                console.log('Sending Weather Report');

                var uploadValues = values.map(function(val){
                    return val[1];
                });

                let dataObj = {
                    values: [uploadValues]
                };

                console.log(dataObj);

                postDataObj(dataObj);
            } else {
                $('#outlog').removeClass("text-success").addClass("text-danger");
                $('#outlog').text('Check Your Data Properly...');
            }
        }

        function getIDValues(IDs){
            let values = [];

            $.each(IDs, function (i, id) {
                //console.log($('#' + id).prop('type'));
                switch($('#' + id).prop('type')){
                    case 'select-one':
                        let nullValue = $($('#' + id + ' option')[0]).text()
                        let value = $('#' + id + ' option:selected').text();
                        if(value == nullValue){
                            value = "";
                        }
                        values.push([id, value]);
                        break;
                    case 'date':
                        values.push([id, $('#' + id).val()]);
                        break;
                    case 'time':
                        values.push([id, $('#' + id).val()]);
                        break;
                    case 'number':
                        values.push([id, $('#' + id).val()]);
                        break;
                    case 'text':
                        values.push([id, $('#' + id).val()]);
                        break;
                    case 'textarea':
                        values.push([id, $('#' + id).val()]);
                        break;
                }
            });

            return values;
        }

        function postDataObj(dataObj){
            $.ajax({
                type: 'POST',
                url: '/wrsubmit',
                data: JSON.stringify(dataObj),
                contentType: "application/json",
                dataType: 'json'
            }).always(function(e) {
                if(e.responseText == 'success'){
                    $('#outlog').addClass("text-success").removeClass("text-danger");
                    $('#outlog').text('Data Successfully Submitted');
                    console.log('success');

                    // Resetting Form
                    document.getElementById('the-form').reset();
                    $('#revenue-villages').html('<label class="text-primary">15. Select Revenue Village Names</label>');

                    $('input.form-control').removeClass('bg-success').addClass('bg-danger');
                    $('select.form-control').removeClass('bg-success').addClass('bg-danger');
                    setOptionalIdsToGreen();

                    
                    $('#shapefile-status')
                        .text('Select *.zip file')
                        .addClass("text-warning").removeClass("text-success").removeClass("text-danger");

                }
            });
        }

        function printpage(){
            window.print();
        }
    </script>
    <script>
        // For Changing Colors Green and Red
        $('select').change(function(){
            $(this).removeClass('bg-danger').addClass('bg-success');

            $('#outlog').removeClass("text-success").addClass("text-danger");
            $('#outlog').text('Click on Submit To Send Data To Server');
            setOptionalIdsToGreen();
        });

        $('input').change(function(){
            //console.log($(this).val());
            if($(this).val() != ""){
                $(this).removeClass('bg-danger').addClass('bg-success');
            } else {
                $(this).removeClass('bg-success').addClass('bg-danger');
            }

            $('#outlog').removeClass("text-success").addClass("text-danger");
            $('#outlog').text('Click on Submit To Send Data To Server');
            setOptionalIdsToGreen();
        });

        function setOptionalIdsToGreen(){
            for (let i = 0; i < optionalIDs.length; i++){
                let optionalID = optionalIDs[i];
                $(`#${optionalID}`).removeClass('bg-danger').addClass('bg-success');
            }
        }

        // Time Duration Computation
        $('#droneflighttimetake,#droneflighttimeland').change(function(){
            if ($('#droneflighttimetake').val() && $('#droneflighttimeland').val()){
                let hours = $('#droneflighttimeland').val().split(':')[0] - $('#droneflighttimetake').val().split(':')[0];
                let minutes = $('#droneflighttimeland').val().split(':')[1] - $('#droneflighttimetake').val().split(':')[1];

                minutes = minutes.toString().length < 2 ? '0' + minutes : minutes;
                if(minutes < 0){ 
                    hours--;
                    minutes = 60 + minutes;
                }

                hours = hours.toString().length < 2 ? '0' + hours : hours;

                $('#flightduration').html(hours + ' Hours ' + minutes + ' Minutes');
            }
        });
    </script>
  </body>
</html>