<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="static/favicon.png"/>

    <title>LSMK Register</title>
    <style>
        div, small {
            margin: 1em;
        }

        hr {
            border: 0;
            clear:both;
            display:block;
            width: 96%;               
            background-color:#000;
            height: 1px;
        }
    </style>
  </head>
  <body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; min-height: 100vh;">
        <h1>Software & SOP For Initial Processing</a></h1>
        <hr/><br/>
        <h3 style="align-items: left;">
            <a href="https://drive.google.com/file/d/1xNBZbN6NmfdUTWZXDaFdrpmxXitEn7-P/view?usp=sharing" target="_blank">SOP - For Initial Processing</a><br/><br/>
            <a href="https://drive.google.com/file/d/1nNjHN5ScJQN0WgjeK9ZOO0u1Ztl-iwX3/view?usp=sharing" target="_blank">Python *.PYC File Download For Initial Processing</a>
        </h3>
    </div>

    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>