<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="static/favicon.png"/>

    <title>LSMK Register</title>
    <style>
        div, small {
            margin: 1em;
        }

        hr {
            border: 0;
            clear:both;
            display:block;
            width: 96%;               
            background-color:#000;
            height: 1px;
        }
    </style>
  </head>
  <body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; min-height: 100vh;">
        <h1>Registers - Large Scale Mapping Karnataka!</h1>
        <hr/><br/>
        <h3 style="justify-content: left;">
            <a href="/df">Wind Register</a><br/><br/>
            <a href="/df">Drone Flying Register</a><br/><br/>
            <a href="/dp">Initial Processing and Data Transfer Register</a><br/><br/>
            <a href="/dp">Data Processing Register</a><br/><br/>
            <a href="/dd">Data Digitization Register</a>
        </h3>
    </div>

    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>